*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* first project */
.top-banner{
    display: flex;
    background-color: rgb(205, 238, 243);
    background-image: url(./1stbg.png);
    background-repeat: no-repeat;
    justify-content: space-evenly; 
    padding: 50px 0;
}
.first-about{
    width: 50%;
   display: flex;
   align-items: center;
}
h4,p{
    margin-bottom: 12px;
}
p{
    font-weight: 400;
}
h1{
    color: cyan;
    margin-bottom: 12px;
}
button{
    border: none;
    font-weight: 700;
    color:white;
    background-color: cyan;
    padding: 10px 20px;
    border-radius: 10px;
}
#right-img{
    width: 400px;
}